name: Snapshots

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'compose-multiplatform/**'
      - '.github/workflows/snapshots.yml'

jobs:
  verify:
    name: Verify
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
          lfs: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Verify Snapshots
        run: cd compose-multiplatform && ./gradlew :component:verifySnapshots

      - name: Upload Diffs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: snapshot-diffs
          path: compose-multiplatform/component/build/outputs/roborazzi/
          retention-days: 7
